<div id="page-wrapper" ng-controller="CustomerController as ctrl"> 
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">
					Change Password
					<button class="btn btn-default" onclick="location.href='#customer-manage'">
						<i class="fa fa-fw fa-sign-out"></i>Back to Customer's Information
					</button>
					
				</h1>

			</div>
		</div>
		<div class="row">
			<div class="col-lg-8">

				<form  name="myFormChange" ng-submit="ctrl.changePwd()" role="form" style="margin-left: 300px">				
						<div class="form-group">
							<label style="font-weight: bold">Your Password</label> <input
								ng-model="oldpass" type="password" name="oldpass" id="oldpass"
								class="form-control" placeholder="Your Password" ng-change="ctrl.getPwd()" 
								ng-model-options="{ debounce: 1000 }" required />
								
							<div align="center" ng-show="isOldPass">
								<p style="color: red">{{pwdError}}</p>
							</div>
						</div>
						

					<div class="form-group">
						<label style="font-weight: bold" >New Password</label>
							 <input
									 type="password"
									class="form-control" name="newpass" id="newpass"
									placeholder="Your New Password" ng-model="newpass"
									ng-pattern="/^[a-zA-Z0-9]*$/" required />
							
							<div align="center">
								<p style="color: red" ng-if="myFormChange.newpass.$error.pattern">Must
									contain only a-z 0-9!!!</p>
							</div>
						</div>
						
					<div class="form-group">	
					<label style="font-weight: bold" >Confirm Password</label>					
								<input
									type="password" class="form-control" name="cfnewpass"
									id="cfnewpass" ng-model="cfnewpass"
									placeholder="Confirm your Password" pw-check='newpass'
									required />
							
							<div align="center">
								<span style="color: red" ng-dirty
									ng-if='myFormChange.cfnewpass.$error.pwmatch && myFormChange.cfnewpass.$dirty'>
									These passwords don't match. Try again? </span>
							</div>
						</div>

						<div align="center">
							<button type="submit" name="btn" class="btn btn-primary" ng-disabled="myFormChange.cfnewpass.$error.pwmatch && myFormChange.cfnewpass.$dirty">Change</button>
						</div>				
				</form>
				
				
					
			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->


