<div>
	<div id="page-wrapper">

		<div class="container-fluid">

			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12 page-header">
					<span><h1 class="">Invoice's Information</h1></span><span
						class="dropdown">
						<button class="dropdown-toggle btn btn-primary"
							data-toggle="dropdown">Create Invoice</button>
						<ul class="dropdown-menu">


							<li ng-repeat="u in ctrl.typeInvoices" data-toggle="modal"
								data-target="#myModal" data-backdrop="static"
								data-keyboard="false" ng-click="showForm(u.code, u)"><span style="margin-left: 10px">{{u.nameInvoice}}</span>
							</li>
						</ul>
					</span>
				</div>
			</div>


			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="modal-title" id="title" align="center" style="font-weight: bold">
									{{name_type}}
							</h3>
						</div>
						<div class="modal-body">
							<form id="myForm" name="myForm" ng-submit="ctrl.submit()"
								role="form">
								<br> <input type="hidden" ng-model="ctrl.invoice.id" />
								<div class="form-group">
									<label style="font-weight: bold">Contract Number</label> <input type="text"
										ng-change="contractChanged()" ng-model="ctrl.invoice.contractNumber" 
										ng-model-options="{ debounce: 1000 }"
										name="contract" class="form-control" 
										placeholder="Your Contract Number" />
		    							<div align="center" role="alert" style="color:red">					      
									      <span class="error" ng-show="myForm.contract.$error.required">
									        Required Contract Number!</span>
									    </div>
								    	<div align="center" ng-messages="myForm.contract.$error">
								    		<div ng-message="invoiceExist" style="color:green">Contract number already exists.</div>
										</div>

								</div>

								<div class="form-group">
									<label style="font-weight: bold">Date</label> <input
										ng-model="ctrl.invoice.date" type="date" name="date"
										class="form-control" placeholder="Date" />


								</div>

								<div class="form-group" id="service">
									<label style="font-weight: bold">Name Service</label> 
									<select ng-model="ctrl.invoice.nameService"  class="form-control" id="sel1" ng-change="ctrl.getService()">
									    <option ng-repeat="s in ctrl.services" value="{{ s.nameService }}" >{{s.nameService}}</option>									    
									</select>
								</div>
								<div class="form-group" id="company">
									<label style="font-weight: bold">Name Company</label> 
									<select ng-model="ctrl.invoice.idCpn"  class="form-control">
									    <option ng-repeat="s in ctrl.company" value="{{s.idCpn}}" >{{s.nameCpn}}</option>									    
									</select>
								</div>

								<div class="form-group" id="index">
									<label style="font-weight: bold">Index Consumed</label> <input
										ng-model="ctrl.invoice.indexConsumed" type="number"
										name="index" class="form-control"
										placeholder="Your Index Consumed"
										ng-change="ctrl.changeTotal()" />


								</div>

								<div class="form-group">
									<label style="font-weight: bold">Total</label> <label
										style="color: red">{{ctrl.invoice.total | number }} {{ ctrl.currencyUnit }}</label>

								</div>

								<div class="form-group">
									<label style="font-weight: bold">VAT</label> <label
										style="color: red">{{ ctrl.invoice.vat }}%</label>
								</div>

								<div class="form-group" id="ptef">
									<label style="font-weight: bold">PTEF</label> <label
										style="color: red">{{ ctrl.invoice.ptef }}%</label>
								</div>

								<div class="form-group">
									<label style="font-weight: bold">Grand Total</label> <label
										style="color: red"> {{ ctrl.invoice.grandTotal |
										number }} {{ ctrl.currencyUnit }}</label>

								</div>
								<input type="hidden" ng-model="ctrl.invoice.idType" /> <input
									type="hidden" ng-model="ctrl.invoice.idCpn" /> <input
									type="hidden" ng-model="ctrl.invoice.idCustomer" />

								<div align="center">

									<button type="submit" name="btn" class="btn btn-primary" >{{ ctrl.btn }}</button>
								</div>



							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" ng-click="clear()">Close</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- <div class="col-lg-8"> -->
					<!-- <div class="agile-grids">
						<div class="agile-tables"> -->
							<div class="page-title">
								<div class="title_left">
									<h3>Invoice List</h3>
								</div>
							</div>

							<div class="pull-left">
								<h5>
									<span class="field-validation-error" id="error_message">
									</span>
								</h5>
							</div>

							<div id="list">
								<list-invoice></list-invoice>
		<!-- 					</div>
						</div>
					</div> -->


				</div>
				<!-- /.row -->

			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- /#page-wrapper -->