<div>
	<div id="page-wrapper" ng-controller="InvoiceController as ctrl">

		<div class="container-fluid">

			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12 page-header">
					<span><h1 class="">Invoice's Information</h1></span><span class="dropdown">
						<button class="dropdown-toggle btn btn-primary"

							data-toggle="dropdown">Create Invoice</button>
						<ul class="dropdown-menu">
							

							<li ng-repeat="u in ctrl.typeInvoices"  data-toggle="modal" data-target="#myModal" ng-click="showForm(u.code, u)">
								<i class="fa fa-fw fa-gear"><span ng-bind="u.nameInvoice"></span></i>
							</li>
						</ul>
					</span>
				</div>
			</div>
				

					<div id="myModal" class="modal fade" role="dialog">
						<div class="modal-dialog">
						 <div class="modal-content">

     

      <div class="modal-header"> <div id="title" align="center" style="font-weight:bold">{{name_type}}</div></div>
       <div class="modal-body">


      
							<form id="myForm" name="myForm" ng-submit="ctrl.submit()"
								role="form"  hidden>
								<br> <input type="hidden" ng-model="ctrl.invoice.id" />
								<div class="form-group">
									<label style="font-weight: bold">Contract Number</label> <input
										ng-model="ctrl.invoice.contractNumber" type="text"
										name="contract" class="form-control"
										placeholder="Your Contract Number" />

								</div>

								<div class="form-group">
									<label style="font-weight: bold">Date</label> <input
										ng-model="ctrl.invoice.date" type="date" name="date"
										class="form-control" placeholder="Date" />


								</div>

								<div class="form-group" id="service">
									<label style="font-weight: bold">Name Service</label> <input
										ng-model="ctrl.invoice.nameService" type="text" name="service"
										class="form-control" placeholder="Your Service" hidden />


								</div>

								<div class="form-group" id="index">
									<label style="font-weight: bold">Index Consumed</label> <input
										ng-model="ctrl.invoice.indexConsumed" type="number"
										name="index" class="form-control"
										placeholder="Your Index Consumed" />


								</div>

								<div class="form-group">
									<label style="font-weight: bold">Total</label> <input
										ng-model="ctrl.invoice.total" type="number" name="total"

										class="form-control" placeholder="Total" disabled/>

								</div>

								<div class="form-group">
									<label style="font-weight: bold">VAT</label> <input
										ng-model="ctrl.invoice.vat" type="number" name="vat"

										class="form-control" placeholder="VAT" disabled/>


								</div>

								<div class="form-group" id="ptef">
									<label style="font-weight: bold">PTEF</label> <input
										ng-model="ctrl.invoice.ptef" type="number" name="ptef"

										class="form-control" placeholder="PTEF" disabled/>


								</div>

								<div class="form-group">
									<label style="font-weight: bold">Grand Total</label> <input
										ng-model="ctrl.invoice.grandTotal" type="number" name="ptef"

										class="form-control" placeholder="Grand Total" disabled/>

								</div>
								<input type="hidden" ng-model="ctrl.invoice.idType" /> <input
									type="hidden" ng-model="ctrl.invoice.idCpn" /> <input
									type="hidden" ng-model="ctrl.invoice.idCustomer" />

								<div align="center">

									<button type="submit" name="btn" class="btn btn-primary">Create</button>
								</div>



							</form></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
   </div>
    </div>
						</div>
					
			<div class="row">
				<div class="col-lg-8">
					<div class="agile-grids" >
						<div class="agile-tables">
							<div class="page-title">
								<div class="title_left">
									<h3>Invoice List</h3>
								</div>
							</div>

							<div class="pull-left">
								<h5>
									<span class="field-validation-error" id="error_message">
									</span>
								</h5>
							</div>

							<div id="list">
								<list-invoice></list-invoice>
							</div>
						</div>
					</div>
				

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- /#page-wrapper -->