<form class="form-inline" style="margin-top: 20px">

	<div class="form-group">
		<label>Search</label> <input type="text" ng-model="search"
			ng-model-options="{ debounce: 1000 }" ng-change="ctrl.searchInvoice()" class="form-control" placeholder="Filter text...">
	</div>

</form>

<table class="table table-hover" id="table-no-resize">

	<thead>
		<tr>
			<th>Type Invoice</th>
			<th>Invoice Number</th>
			<th>Index Consumed</th>
			<th>Date</th>
			<th>Grand Total</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="u in ctrl.invoices">
			
			<td><span ng-bind="u.idType.nameInvoice"></span></td>
			<td><span ng-bind="u.contractNumber"></span></td>
			<td><span ng-show="u.indexConsumed != 1" ng-bind="u.indexConsumed | number""></span></td>
			<td><span ng-bind="u.date | date:'dd/MM/yyyy'"></span></td>

			<td><span ng-bind="u.grandTotal | number"></span> {{ctrl.currencyUnit }} </td>
			<td>
				<button type="button" class="btn btn-success btn-xs" title="View"
					data-toggle="modal" data-backdrop="static" data-keyboard="false"
					data-target="#btnModal"
					ng-click="ctrl.showDetail(u.idType ,u) ">
					<span class="glyphicon glyphicon-eye-open " style="color: white"></span>
				</button>
				<div id="btnModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title" id="title" align="center"
									style="font-weight: bold">Information:
									{{ ctrl.invoice.idType.nameInvoice }}</h3>
							</div>
							<div class="modal-body">
								<form name="btnForm" role="form">
									<fieldset id="btnset" name="btnset" disabled>
										<br> <input type="hidden" ng-model="ctrl.invoice.id" />
										<div class="form-group">
											<label style="font-weight: bold">Contract Number</label> <input
												ng-model="ctrl.invoice.contractNumber" type="text"
												name="contract" class="form-control"
												placeholder="Your Contract Number" id="contract2"/>
										</div>
										<div class="form-group">
											<label style="font-weight: bold">Date</label> <input
												ng-model="ctrl.invoice.date " type="date" name="date"
												class="form-control" placeholder="Date" />
										</div>
								<div class="form-group" id="service2">
									<label style="font-weight: bold">Name Service</label> 
									
									<select ng-model="ctrl.invoice.nameService"  class="form-control" id="sel1" ng-change="ctrl.getService()">
									    <option ng-repeat="s in ctrl.services" >{{s.nameService}}</option>									    
									</select>
										</div>
									<div class="form-group" id="company2">
									<label style="font-weight: bold">Name Company</label> 
									<select ng-model="ctrl.invoice.idCpn"  class="form-control">
									    <option ng-repeat="s in ctrl.company" value="{{s.idCpn}}" >{{s.nameCpn}}</option>									    
									</select>
								</div>
										<div class="form-group" id="index2">
											<label style="font-weight: bold">Index Consumed</label> <input
												ng-model="ctrl.invoice.indexConsumed" type="number"
												name="index" class="form-control"
												placeholder="Your Index Consumed"
												ng-change="ctrl.changeTotal()" />
										</div>
										<div class="form-group">
											<label style="font-weight: bold">Total</label> <label
												style="color: red">{{ctrl.invoice.total | number }}
											</label>
										</div>

										<div class="form-group">
											<label style="font-weight: bold">VAT</label> <label
												style="color: red">{{ ctrl.invoice.vat }}%</label>
										</div>
										<div class="form-group" id="ptef2">
											<label style="font-weight: bold">PTEF</label> <label
												style="color: red">{{ ctrl.invoice.ptef }}%</label>
										</div>

										<div class="form-group">
											<label style="font-weight: bold">Grand Total</label> <label
												style="color: red"> {{ ctrl.invoice.grandTotal |
												number }} {{ctrl.currencyUnit }}</label>
										</div>
										<input type="hidden" ng-model="ctrl.invoice.idType" /> <input
											type="hidden" ng-model="ctrl.invoice.idCpn" /> <input
											type="hidden" ng-model="ctrl.invoice.idCustomer" />
									</fieldset>
									<div align="center">
										<input type="button" id="btn" name="btn"
											class="btn btn-primary" value="Edit"
											ng-click="myEnable(ctrl.invoice.id)"> </input>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" id="closemodal" class="btn btn-default"
									data-dismiss="modal" ng-click="clear()">Close</button>
							</div>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-danger btn-xs" title="Delete"
					ng-click="deleteinvoice(u.id)">
					<span class="glyphicon glyphicon-trash" style="color: white"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>
<form class="form-inline" style="margin-top: 20px" align="right">
	<div class="form-group">
		<label>Page size</label> <select ng-model="pageSize" id="pageSize"
			name="pageSize" ng-init="pageSize = '5'" class="form-control"
			ng-change="onEventPaging(pageSize)">
			<option value="5">Show 5 per page</option>
			<option value="10">Show 10 per page</option>
			<option value="15">Show 15 per page</option>
			<option value="20">Show 20 per page</option>
		</select>
	</div>

	<div class="form-group" style="margin-left: 30px">
		<button class="btn btn-success custom-width"
			ng-disabled="currentPage == 0" ng-click="onEventPreCurrentPage()">Previous</button>
		{{currentPage+1}}/{{numberOfPages()}}
		<button class="btn btn-success custom-width"
			ng-disabled="currentPage >= totalElements/pageSize - 1"
			ng-click="onEventNextCurrentPage()">Next</button>
	</div>

</form>
