<form class="form-inline" style="margin-top: 20px">
    <div class="form-group">
        <label >Search</label>
        <input type="text" ng-model="search" class="form-control" placeholder="Filter text...">
    </div>
    
<!--     <div class="form-group" style="margin-left: 30px">
        <label >Status</label>
        <select ng-model="status" class="form-control">
        	<option value="all">All</option>
        	<option value="1">Active</option>
        	<option value="0">Deactive</option>
        </select>
    </div>
    
    <button type="button" ng-click="ctrl.filterActive(status)"
					class="btn btn-success custom-width" >Filter</button> -->
</form>

<table class="table table-hover" id="table-no-resize">
	<thead  >
		<tr >
		    <th>Type Invoice </th>
			<th>Invoice Number</th>
			<th>Index Consumed</th>
			<th>Date</th>
			<th>Grand Total</th>
			<th >Action</th>				
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="u in ctrl.invoices|filter:search"> <!-- |startFrom:currentPage*pageSize | limitTo:pageSize -->
			<td><span ng-bind="u.idType.nameInvoice"></span></td>
			<td><span ng-bind="u.contractNumber"></span></td>
			<td><span ng-bind="u.indexConsumed"></span></td>
			<td>
			<span ng-bind="u.date | date"></span>
				<!--<label style="display: flex" for="id{{u.id}}"><input type="checkbox" value="" name="checked"  ng-model="u.active" id="id{{u.id}}"
					class="form-control ng-dirty ng-valid-parse" ng-checked="u.active==1 ? 1 : 0" 
					ng-click="u.active=!u.active" ng-change="u.active=!u.active"
					/>
					<span ng-show="u.active==true" >Active</span><span ng-show="u.active==false" >Deactive</span>
				</label>-->
			</td>
			
			<td>
			<span ng-bind="u.grandTotal"></span>
<!-- 				<button type="button" ng-click="ctrl.edit(u.id)" -->
<!-- 					class="btn btn-success custom-width" >Edit</button>
					<button type="button" ng-click="ctrl.update(u,u.id)"
					class="btn btn-success custom-width" >Update</button> -->
				
			</td>		
			<td>
			<button type="button" class="btn btn-success btn-xs" title="View" data-toggle="modal" data-target="#btnModal" ng-click="ctrl.showDetail(u.id)"><span class="glyphicon glyphicon-eye-open " style="color:white"></span></button>
		     <div id="btnModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
             
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">      <form  name="btnForm" ng-submit="ctrl.submit()"
								role="form"  >
								<fieldset id="btnset" name="btnset" disabled>
								<br> <input type="hidden" ng-model="ctrl.invoice.id" /> 
								<div class="form-group">
									<label style="font-weight: bold">Contract Number</label> <input
										ng-model="ctrl.invoice.contractNumber" type="text"
										name="contract" class="form-control"
										placeholder="Your Contract Number" /> 

								</div>

								<div class="form-group">
									<label style="font-weight: bold">Date</label> <input
										ng-model="ctrl.invoice.date " type="date" name="date"
										class="form-control" placeholder="Date" />


								</div>

								<div class="form-group" id="service">
									<label style="font-weight: bold">Name Service</label> <input
										ng-model="ctrl.invoice.nameService" type="text" name="service"
										class="form-control" placeholder="Your Service" hidden />


								</div>

								<div class="form-group" id="index">
									<label style="font-weight: bold">Index Consumed</label> <input
										ng-model="ctrl.invoice.indexConsumed" type="number"
										name="index" class="form-control"
										placeholder="Your Index Consumed" />


								</div>

								<div class="form-group">
									<label style="font-weight: bold">Total</label> <input
										ng-model="ctrl.invoice.total" type="number" name="total"
										class="form-control" placeholder="Total" disabled/>

								</div>

								<div class="form-group">
									<label style="font-weight: bold">VAT</label> <input
										ng-model="ctrl.invoice.vat" type="number" name="vat"
										class="form-control" placeholder="VAT" disabled/>


								</div>

								<div class="form-group" id="ptef">
									<label style="font-weight: bold">PTEF</label> <input
										ng-model="ctrl.invoice.ptef" type="number" name="ptef"
										class="form-control" placeholder="PTEF" disabled/>


								</div>

								<div class="form-group">
									<label style="font-weight: bold">Grand Total</label> <input
										ng-model="ctrl.invoice.grandTotal" type="number" name="ptef"
										class="form-control" placeholder="Grand Total" disabled/>

								</div>
								<input type="hidden" ng-model="ctrl.invoice.idType" /> <input
									type="hidden" ng-model="ctrl.invoice.idCpn" /> <input
									type="hidden" ng-model="ctrl.invoice.idCustomer" />
</fieldset>
								<div align="center">
									<button type="button"  name="btn" class="btn btn-primary" ng-click="myEnable()">Edit</button>
								</div>

							</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
			<button type="button" class="btn btn-danger btn-xs" title="Delete"><span class="glyphicon glyphicon-trash" style="color:white"></span></button>
			</td>
		</tr>
	</tbody>
</table>

<form class="form-inline" style="margin-top: 20px" align="right"> 
    <div class="form-group">
    	<label >Page size</label>
        <select ng-model="pageSize" id="pageSize" name="pageSize" ng-init="pageSize = '5'" class="form-control" ng-change="onEventPaging(pageSize)">
		    <option value="5" >Show 5 per page</option>
		    <option value="10" >Show 10 per page</option>
		    <option value="15" >Show 15 per page</option>
		    <option value="20" >Show 20 per page</option>
		 </select>
    </div>
    
    <div class="form-group" style="margin-left: 30px">
        <button class="btn btn-success custom-width" ng-disabled="currentPage == 0" ng-click="onEventPreCurrentPage()">Previous</button>
    	{{currentPage+1}}/{{numberOfPages()}}
    	<button class="btn btn-success custom-width" ng-disabled="currentPage >= totalElements/pageSize - 1" ng-click="onEventNextCurrentPage()">Next</button>
    </div>
       
</form>


 
 