<div ng-show="isReport">
	<div id="contentReport">
		<div style="border: 0px solid black; padding: 50px;">
			<div style="border: 1px solid gray; padding: 30px;">
				<div id="titleReport" align="center">
					<h3>Expenses by {{ ctrl.nameInvoice }}</h3>
					<h3>Between {{ dateStart | date:'dd/MM/yyyy'}} and {{ dateEnd
						| date:'dd/MM/yyyy'}}</h3>
				</div>
				<div id="bodyReport">
					<table class=" table-hover border" id="table-no-resize">
						<thead>
							<tr>
								<th>Date</th>
								<th>Contract Number</th>
								<th>Name Service</th>
								<th ng-show="indexConsumed">Index Consumed</th>
								<th>Grand Total</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="u in ctrl.reports">
								<td><span ng-bind="u.date | date:'dd/MM/yyyy'"></span></td>
								<td><span ng-bind="u.contractNumber"></span></td>
								<td><span ng-bind="u.nameService"></span></td>
								<td ng-show="u.indexConsumed != 1"><span ng-bind="u.indexConsumed | number""></span></td>
								<td><span ng-bind="u.grandTotal | number"></span>
									{{ctrl.currencyUnit }}</td>
							</tr>
							<tr ng-show="indexConsumed">
								<td colspan="3" style="font-weight: bold;"><h4>Total
										index consumed:</h4></td>
								<td style="font-weight: bold"><span><h4>{{
											ctrl.totalIndex }}</h4></span></td>
								<td></td>
							</tr>
							<tr>
								<td ng-if="indexConsumed" colspan="4" style="font-weight: bold"><h4>Total
										grand total:</h4></td>
								<td ng-if="!indexConsumed" colspan="3" style="font-weight: bold"><h4>Total
										grand total:</h4></td>
								<td style="font-weight: bold"><span><h4>{{
											ctrl.totalGrand | number}} {{ctrl.currencyUnit }}</h4></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<style>
table tr th {
	background-color: #80bfff !important;
	color: white !important;
}

.border {
	background-color: #fff;
	color: #000;
	padding: 10px;
	border: 0px double #4C7ED1;
	font-size: 13px;
}
</style>
</div>
