<form class="form-inline" style="margin-top: 20px">
	<div class="form-group">
		<label>Search</label> <input type="text" ng-model="search"
			class="form-control" ng-model-options="{ debounce: 1000 }"
			ng-change="ctrl.searchUser()" placeholder="Filter text...">
	</div>

	<div class="form-group" style="padding: 30px">
		<label>Status</label> <select ng-model="status"
			ng-init="status = 'all'" class="form-control">
			<option value="all">All</option>
			<option value="1">Active</option>
			<option value="0">Deactive</option>
		</select>
	</div>

	<button type="button" ng-click="ctrl.filterActive(status)"
		class="btn btn-success custom-width">Filter</button>
</form>

<table class="table table-hover" id="table-no-resize">
	<thead>
		<tr>
			<th>ID.</th>
			<th>User Name</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="u in ctrl.users">
			<td><span ng-bind="u.id"></span></td>
			<td><span ng-bind="u.username"></span></td>
			<td><switch id="enabled" name="enabled" ng-model="u.active"
					on="Active" off="Deactive" class="green wide"
					ng-change="ctrl.update(u,u.id)"></switch></td>

		</tr>
	</tbody>
</table>

<form class="form-inline" style="margin-top: 20px">
	<div class="form-group">
		<label>Page size</label> <select ng-model="pageSize" id="pageSize"
			name="pageSize" ng-init="pageSize = '5'" class="form-control"
			ng-change="onEventPaging(pageSize)">
			<option value="5">Show 5 per page</option>
			<option value="10">Show 10 per page</option>
			<option value="15">Show 15 per page</option>
			<option value="20">Show 20 per page</option>
		</select>
	</div>

	<div class="form-group" style="margin-left: 30px">
		<button class="btn btn-success custom-width"
			ng-disabled="currentPage == 0" ng-click="onEventPreCurrentPage()">Previous</button>
		{{currentPage+1}}/{{numberOfPages()}}
		<button class="btn btn-success custom-width"
			ng-disabled="currentPage >= totalElements/pageSize - 1"
			ng-click="onEventNextCurrentPage()">Next</button>
	</div>
</form>



