
<div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="mother-grid-inner">
                <!--header start here-->
                <div class="header-main">
                    <div class="logo-w3-agile">
                        <h1>E-INVOICE SYSTEM</h1>
                    </div>
            
                    <div class="profile_details">
                       <ul class=" nav navbar-right top-nav dropdown profile_details_drop">        
                <li class="dropdown profile_details_drop">
               
                    <li class="dropdown-toggle" data-toggle="dropdown"><span style="color:white"></span>&nbsp<i class="fa fa-user fa-2x" style="color:white"></i><b class="caret" style="color:white"></b></li>
                    
             
                    <ul class="dropdown-menu ">
                        <li>
                            <a href="/EInvoice"><i class="fa fa-fw fa-home" ></i> Home</a>
                        </li>                    
                        <li>
                            <a href="/EInvoice/logout" style="color:black;font-weight:bold""><i class="fa fa-power-off"></i> Log Out</a>
                        </li>          
                    </ul>
                </li>
            </ul>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <!--heder end here-->
                <div class="main_page">
                   <div ng-view=""></div> 
                </div>

			<!-- script-for sticky-nav -->
			<script>
				$(document).ready(function() {
					var navoffeset = $(".header-main").offset().top;
					$(window).scroll(function() {
						var scrollpos = $(window).scrollTop();
						if (scrollpos >= navoffeset) {
							$(".header-main").addClass("fixed");
						} else {
							$(".header-main").removeClass("fixed");
						}
					});

				});
			</script>
			<!-- /script-for sticky-nav -->
			<!--inner block start here-->
			<div class="inner-block"></div>
			<!--inner block end here-->
			<!--copy rights start here-->
			<div class="copyrights">
				<p>© 2017 Admin. E - Invoice System!</p>
			</div>
			<!--COPY rights end here-->
		</div>
	</div>
	<!--//content-inner-->
	<!--/sidebar-menu-->
	<div class="sidebar-menu">
		<header class="logo1">
			<a href="#/" class="sidebar-icon"> <span class="fa fa-home"></span>
			</a>
		</header>
		<div style="border-top: 1px ridge rgba(255, 255, 255, 0.15)"></div>
		<div class="menu">
			<ul id="menu">
				<li id="menu-academico"><a href="#user-manage"><i
						class="fa fa-user" aria-hidden="true"></i><span> User Management</span> <span class="fa fa-angle-right" style="float: right"></span>
						<div class="clearfix"></div></a> <!--                         <ul id="menu-academico-sub"> -->
					<!--                             <li id="menu-academico-avaliacoes"><a href="#">Danh sách dự án</a></li>                                                       -->
					<!--                         </ul> --></li>
				<li id="menu-academico"><a href="#config-email"><i
						class="fa fa-cog" aria-hidden="true"></i><span> Email Configuration</span> <span class="fa fa-angle-right" style="float: right"></span>
						<div class="clearfix"></div></a> <!--                         <ul id="menu-academico-sub"> -->
					<!--                             <li id="menu-academico-avaliacoes"><a href="#">Danh sách tiêu chí</a></li>                             -->
					<!--                         </ul> --></li>


			</ul>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<script>
	$(document).ready(function() {
		$('select').select2({
			theme : "bootstrap"
		});
	});
</script>