<!-- <div class="generic-container"> -->
<!-- 	<div class="agile-grids"> -->
<div class="agile-tables">
	<div class="page-title">
		<div class="title_left">
			<h3>Account List</h3>
		</div>
	</div>

	<div class="pull-left">
		<h5>
			<span class="field-validation-error" id="error_message"> </span>
		</h5>
	</div>

	<div id="list">
		<list-user></list-user>
	</div>
</div>
<!-- 	</div> -->

<!--            <div class="agile-grids">     -->
<!-- 		    <div class="agile-tables"> -->
<!-- 		        <div class="page-title"> -->
<!-- 		            <div class="title_left"> -->
<!-- 		                <h3>Cập nhật tài khoản</h3> -->
<!-- 		            </div> -->

<!-- 		        </div> -->

<!-- 		        <div class="pull-left"> -->
<!-- 		            <h5> -->
<!-- 		                <span class="field-validation-error" id="error_message"> -->
<!-- 		                </span> -->
<!-- 		            </h5> -->
<!-- 		        </div> -->

<!-- 		        <div id="list"> -->
<!-- 		            <user-form></user-form> -->
<!-- 		        </div>         -->
<!-- 		    </div> -->
<!-- 		</div> -->
<!-- </div> -->


