.logo-w3-agile {   
    width: 72.75%;  
}

.main_page {   
    margin: 20px 0 ! important;    
}

.panel-body{
    background-color: white;
    padding: 10px 30px;
}

.GroupBox
{
    border: 1px solid #ccc;
    /* display: inline; */
    padding: 4px 8px 8px 8px;
}

.GroupBoxLegend
{
   margin-left: 20px;
}

legend {
    display: block;
    width: auto;
    padding: 0;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: inherit;
    color: #333;
    border: 0;
}

/* Tooltip */
._tooltip + .tooltip > .tooltip-inner {
    background-color: #73AD21; 
    color: #FFFFFF; 
    border: 1px solid green;
    padding: 5px;
    font-size: 15px;
}

/* Tooltip on top */
._tooltip + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid green;
}

/* Tooltip on bottom */
._tooltip + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid blue;
}

/* Tooltip on left */
._tooltip + .tooltip.left > .tooltip-arrow {
    border-left: 5px solid red;
}

/* Tooltip on right */
._tooltip + .tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
}

.title_left, .title_right{
    width: 50%;   
}

.title_left{   
    float: left;
    margin: -15px 0px 10px;
}

.title_right{
    float: right;
}