<nav class="navbar navbar-ct-blue navbar-fixed-top navbar-transparent"
	role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">

				<img src="/EInvoice/image/csc.png" height="50" alt="csc logo" align="left">
		
			
			<ul class="nav navbar-nav navbar-right">
				<li><a href="javascript:void(0)" data-toggle="search"> <i
						class="pe-7s-search"></i>
						<p>Search</p>
				</a></li>
				<li><a href="#"> <i class="pe-7s-mail"> <span
							class="label"> 23 </span>
					</i>
						<p>Messages</p>
				</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"> <i class="pe-7s-user"></i>
						<p>Account</p>
				</a>
					<ul class="dropdown-menu">
						<li><a href="#" align="right">Login</a></li>
						<li class="divider"></li>
						<li><a href="#" align="right">Sign up</a></li>
					</ul></li>
			</ul>
			<ul class="nav navbar-nav ">
				</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"> <i class="pe-7s-home"></i>
						<p>Home</p>
				</a>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"> <i class="pe-7s-folder"></i>
						<p>About Us</p>
				</a>
					</li>
				<li><a href="#">Add New</a></li>
				<li class=" dropdown"><a href="#" class="dropdown-toggle "
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Managers <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">View Managers</a></li>
						<li><a href="#">Add New</a></li>
					</ul></li>
				<li class=" dropdown"><a href="#"
					class="dropdown-toggle active" data-toggle="dropdown" role="button"
					aria-haspopup="true" aria-expanded="false">Staff <span
						class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="#">View Staff</a></li>
						<li><a href="#">Add New</a></li>
						<li><a href="#">Bulk Upload</a></li>
					</ul></li>
				<li class=" down"><a href="#" class="dropdown-toggle active"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">HR <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Change Time Entry</a></li>
						<li><a href="#">Report</a></li>
					</ul></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<!--  end navbar -->