<!-- header 
   ================================================== -->

<header>
	<div class="row">
		<div class="logo">
			<img src="/EInvoice/images/csc.png" alt="csc logo"
				style="height: 50px">
		</div>
		<nav id="main-nav-wrap">
			<ul class="main-navigation ">
				<li class="current"><a class="smoothscroll" href="#intro"
					title="">Home</a></li>
				<li><a class="smoothscroll" href="#process" title="">Process</a></li>
				<li><a class="smoothscroll" href="#features" title="">Features</a></li>
				<li><a class="smoothscroll" href="#faq" title="">About us</a></li>
				<li class="highlight with-sep" ng-show="isUser()"><a
					href="#/login" title="">Login</a>
				<li class="highlight" ng-show="isUser()"><a
					href="/EInvoice/#/signup" title="">Sign Up</a>
				<li class="highlight with-sep" ng-show="!isUser()"><a href="#/"
					ng-click="goOut()" title=""">Logout</a></li>
			</ul>
		</nav>		
	</div>
</header>
<!-- /header -->
<!-- intro section
   ================================================== -->
   
<section id="intro">
	<div class="shadow-overlay"></div>
	<div class="intro-content">
		<div class="row">
			<div class="col-twelve">
				<!--  	<div class='video-link'>
	   				<a href="#video-popup"><img src="images/play-button.png" alt=""></a>
	   			</div>-->
				<h5>Hello welcome to website.</h5>
				<h1>Website will make your life a lot easier.</h1>
				<a class="button stroke smoothscroll" href="#process" title="">More
					Infomation</a>
			</div>
		</div>
	</div>
</section>
<!-- /intro -->
<!-- Process Section
   ================================================== -->
<section id="process">
	<div class="row section-intro">
		<div class="col-twelve with-bottom-line">
			<h5>Process</h5>
			<h1>How it works?</h1>
			<p class="lead">E-Invoice is built for the purpose of monthly
				invoice management in a family. It helps you could make plan to save
				money.</p>
		</div>
	</div>
	<div class="row process-content">
		<div class="left-side">
			<div class="item" data-item="1">
				<h5>Sign Up</h5>
				<p>Sign up to create an account if you don't have it. This
					account will help you login to E-Invoice System".</p>

			</div>

			<div class="item" data-item="2">

				<h5>Login</h5>

				<p>The system loads data, you will be allowed to update your
					profile and perform other functions.</p>

			</div>

		</div>
		<!-- /left-side -->

		<div class="right-side">

			<div class="item" data-item="3">

				<h5>Create</h5>

				<p>The system supports you view all invoice in your family such
					as internet bill, water bill, etc</p>

			</div>

			<div class="item" data-item="4">

				<h5>View</h5>

				<p>Not only view all invoice but also view an overall report of
					monthly expenses.</p>

			</div>

		</div>
		<!-- /right-side -->
		<div class="image-part"></div>
	</div>
	<!-- /process-content -->

</section>
<!-- /process-->


<!-- features Section
   ================================================== -->
<section id="features">
	<div class="row section-intro">
		<div class="col-twelve with-bottom-line">
			<h5>Features</h5>
			<h1>Great features you'll love.</h1>
			<p class="lead">E-Invoice System supports a lot feature that you
				enjoy. Especially, it helps you manage expense efficiently</p>

		</div>
	</div>

	<div class="row features-content">

		<div class="features-list block-1-2 block-s-1-2 block-tab-full group">

			<div class="bgrid feature">

				<span class="icon"><i class="icon-window"></i></span>

				<div class="service-content">

					<h3 class="h05">Fully Responsive</h3>

					<p>System supports CRUD invoice, view expenses report, view
						charts, set the monthly limited expenses. It sends email for
						monthly notification if monthly expenses exceed the limited amount
						of money.</p>

				</div>

			</div>
			<div class="bgrid feature">

				<span class="icon"><i class="icon-paint-brush"></i></span>

				<div class="service-content">
					<h3 class="h05">Security</h3>

					<p>System is built with high security.Keep information safely.
						Each user is granted individual account.</p>


				</div>

			</div>

			<div class="bgrid feature">

				<span class="icon"><i class="icon-layers"></i></span>

				<div class="service-content">
					<h3 class="h05">Easy To Use</h3>

					<p>The interface's visual. it's friendly, simple and
						easy to use.</p>


				</div>

			</div>
			<!-- /bgrid -->

			<div class="bgrid feature">

				<span class="icon"><i class="icon-gift"></i></span>

				<div class="service-content">
					<h3 class="h05">Free of Charge</h3>

					<p>Users need only register an account, use it to login to the
						system.</p>

				</div>

			</div>
			<!-- /bgrid -->

		</div>
		<!-- features-list -->

	</div>
	<!-- features-content -->

</section>
<!-- /features -->




<!-- Testimonials Section
   ================================================== -->

<section id="faq">
	<div class="row section-intro">
		<div class="col-twelve with-bottom-line">

			<!-- <h5>Hello</h5> -->
			<h1>Who are they?</h1>

			<p class="lead">We cooperate to build E-Invoice System. If you have
				any question , can contact with us via email! Look forward to
				hearing from you!!!</p>

		</div>
	</div>

	<div class="row features-content">

		<div class="features-list block-1-3 block-s-1-2 block-tab-full group">

			<div class="bgrid feature">

				<div id="testimonial-slider">
					<div class="testimonial-author">
						<img src="images/avatars/mentor.jpg" alt="Author image">
					</div>
				</div>

				<div class="service-content">

					<h3 class="h05">Hoang Minh Quan</h3>

					<p>
					<pre>From: CSC VietNam</pre>
					<pre>Email: QuanHoang@gmail.com</pre>
					</p>

				</div>

			</div>
			<!-- /bgrid -->



			<div class="bgrid feature">
				<div id="testimonial-slider">
					<div class="testimonial-author">
						<img src="images/avatars/Quoc.jpg" alt="Author image">
					</div>
				</div>

				<div class="service-content">
					<h3 class="h05">Tran Cam Quoc</h3>

					<p>
					<pre>From: University of Information Technology</pre>
					<pre>Email:QuocTran@gmail.com</pre>
					</p>


				</div>

			</div>
			<!-- /bgrid -->

			<div class="bgrid feature">

				<div id="testimonial-slider">
					<div class="testimonial-author">
						<img src="images/avatars/Hai.jpg" alt="Author image">
					</div>
				</div>

				<div class="service-content">
					<h3 class="h05">Le Thanh Hai</h3>

					<p>
					<pre>From: University of FPT</pre>
					<pre>Email: HaiLe@gmail.com</pre>
					</p>


				</div>

			</div>
			<!-- /bgrid -->

			<div class="bgrid feature">

				<div id="testimonial-slider">
					<div class="testimonial-author">
						<img src="images/avatars/TAnh.jpg" alt="Author image">
					</div>
				</div>

				<div class="service-content">
					<h3 class="h05">Le Tuan Anh</h3>

					<p>
					<pre>From: University of Information Technology</pre>
					<pre>Email: AnhLe@gmail.com</pre>
					</p>


				</div>

			</div>
			<!-- /bgrid -->

			<div class="bgrid feature">

				<div id="testimonial-slider">
					<div class="testimonial-author">
						<img src="images/avatars/Thai.jpg" alt="Author image">
					</div>
				</div>

				<div class="service-content">
					<h3 class="h05">Nguyen Quoc Thai</h3>

					<p>
					<pre>From: University of Information Technology</pre>
					<pre>Email: ThaiQuoc@gmail.com</pre>
					</p>


				</div>

			</div>
			<!-- /bgrid -->

			<div class="bgrid feature">

				<div id="testimonial-slider">
					<div class="testimonial-author">
						<img src="images/avatars/Nguyen.jpg" alt="Author image">
					</div>
				</div>

				<div class="service-content">
					<h3 class="h05">Nguyen Thi Ngoc Nguyen</h3>

					<p>
					<pre>From: University of Open</pre>
					<pre>Email:NgocNguyen@gmail.com</pre>
					</p>

				</div>

			</div>
			<!-- /bgrid -->

		</div>
		<!-- features-list -->

	</div>
	<!-- features-content -->

</section>
<!-- /features -->


<div class="footer-bottom">

	<div class="row">
		<!-- <div class="col-four tab-full mob-full footer-info">   -->
		<div class="col-twelve">
			<div class="copyright">
				<span>© Copyright E-Invoice 2017.</span>
			</div>

			<div id="go-top" style="display: block;">
				<a class="smoothscroll" title="Back to Top" href="#top"><i
					class="icon ion-android-arrow-up"></i></a>
			</div>
		</div>

	</div>
	<!-- /footer-bottom -->

</div>

</footer>

<div id="preloader">
	<div id="loader"></div>
</div>
</div>
<script src="js/lib/jquery/jquery-1.11.3.min.js"></script>
<script src="js/lib/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="js/home/plugins.js"></script>
<script src="js/home/main.js"></script>


