<div class="container " ng-controller="RegisterController as ctrl" >
	<div class="row main">		
		<div class="main-login main-center">
		<img id="profile-img" class="profile-img-card"
				src="/EInvoice/images/signup.png" />
			<form name="myForm" class="form-horizontal" ng-submit="ctrl.submit()" method="POST">
				<input type="hidden" ng-model="ctrl.res.id" />
				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">Your Name</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa"
								aria-hidden="true"></i></span> <input ng-model="ctrl.res.name"
								type="text" class="form-control" name="name" id="name"
								placeholder="Enter your Name" required />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Your
						Email</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="fa fa-envelope fa" aria-hidden="true"></i></span> 
								
<!-- 								<input
								ng-model="ctrl.res.email" type="email" class="form-control"
								name="email" id="email" placeholder="Enter your Email" required/> -->
								
								<input ng-change="ctrl.changeUserName()" ng-model="ctrl.res.email" email-not-used ng-model-options="{ debounce: 500 }" type="email" name="email" id="email" class="form-control" placeholder="Enter your Email" required />
																
						</div>
					  	<div align="center" ng-messages="myForm.email.$error">
					  		<div class="error" ng-message="email" style="color:red"> Not valid email!</div>
					    	<div class="error" ng-message="emailNotUsed" style="color:red">User with this email already exists.</div>
					    	<div class="error" ng-message="required" style="color:red"> You can't leave this empty. </div>
					  	</div>
  						<div align="center" >
						  	
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="username" class="cols-sm-2 control-label">Username</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-users fa"
								aria-hidden="true"></i></span> <input ng-model="ctrl.res.username"
								type="text" class="form-control" name="username" id="username"
								placeholder="Enter your Username"  required/>						
						</div>				
					</div>
					<div align="center" >
						  	<span style="color:red" ng-message='myForm.username.$error.required' > You can't leave this empty. </span>
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="cols-sm-2 control-label">Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="fa fa-lock fa-lg" aria-hidden="true"></i></span> <input
								ng-model="ctrl.res.password" type="password"
								class="form-control" name="password" id="password"
								placeholder="Enter your Password" ng-model="password" ng-pattern="/^[a-zA-Z0-9]*$/"  required/>
						</div>
						<div align="center">
							<p style="color:red" ng-if="myForm.password.$error.pattern">Must contain only a-z 0-9!!!</p>
						</div>
						<div align="center" >
						  	<span style="color:red" ng-message='myForm.password.$error.required' > You can't leave this empty. </span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="confirm" class="cols-sm-2 control-label">Confirm
						Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="fa fa-lock fa-lg" aria-hidden="true"></i></span> <input
								type="password" class="form-control" name="confirm" id="confirm" ng-model="confirm"
								placeholder="Confirm your Password"  pw-check='password'  required />
						</div>
						<div align="center" >
						  	<span style="color:red" ng-dirty ng-if='myForm.confirm.$error.pwmatch && myForm.confirm.$dirty' > These passwords don't match. Try again? </span>
						</div>
					</div>
				</div>

				<div class="form-group " >
					<button type="submit"  
						class="btn btn-lg btn-primary btn-block btn-signin " ng-disabled="myForm.confirm.$error.pwmatch && myForm.confirm.$dirty"> Sign Up</button>
				</div>		
			</form>
			<div class="form-group" align="center" >
					<a href="/EInvoice/login" style="color:white" class="btn btn-lg btn-success glyphicon glyphicon-log-in" title="Have an account? Login"></a>				
					<a href="#/forgotpw" style="color:white" class="btn btn-lg btn-warning glyphicon glyphicon-question-sign" title="Forgot Password?"></a>
					<a href="/EInvoice/#/" style="color:white" class="btn btn-lg btn-info glyphicon glyphicon-home" title="Back to homepage"></a>
				</div>	
	</div>
	
	
				
				
			
</div>
<style>body, html{
	background-image: url("/EInvoice/images/white.jpg");
	height: 100%;
    background-repeat: no-repeat;
    background-image: url("/EInvoice/images/white.jpg");
    background-position: center center;
    background-attachment: fixed;
 	background-size: cover;}
	</style>
