<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html ng-app="dbApp"  class="no-js" lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--<![endif]-->
<head>
<title>E-Invoice</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
	
	
addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 


</script>


<!-- Bootstrap Core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	type='text/css' />
<!-- Custom CSS -->
<link th:href="@{/css/admin/style.css}" rel="stylesheet" type='text/css' />
<link href="../static/css/admin/morris.css"
	th:href="@{/css/admin/morris.css}" rel="stylesheet" type='text/css' />
<!-- Graph CSS -->
<link href="../static/css/admin/font-awesome.css"
	th:href="@{/css/admin/font-awesome.css}" rel="stylesheet"
	type='text/css' />
<link href="../static/css/sweet-alert.css" th:href="@{/css/sweet-alert.css}" rel="stylesheet" />
<!-- jQuery -->
<script src="../static/js/lib/jquery/jquery.min.js"
	th:src="@{/js/lib/jquery/jquery.min.js}"></script>
<!-- Table-->
<link href="../static/css/admin/table-style.css"
	th:href="@{/css/admin/table-style.css}" rel="stylesheet" />
<link href="../static/css/admin/basictable.css"
	th:href="@{/css/admin/basictable.css}" rel="stylesheet" />
<script src="../static/js/lib/jquery/jquery.basictable.min.js"
	th:src="@{js/lib/jquery/jquery.basictable.min.js}"></script>
<!-- //jQuery -->
<link
	href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400'
	rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700'
	rel='stylesheet' type='text/css' />
<!-- lined-icons -->
<link href="../static/css/admin/icon-font.min.css"
	th:href="@{/css/admin/icon-font.min.css}" rel="stylesheet"
	type='text/css' />
<!-- //lined-icons -->
<!-- Admin CSS -->
<link href="../static/css/admin/admin.css"
	th:href="@{/css/admin/admin.css}" rel="stylesheet" />

<link href="../static/css/admin/select2.css"
	th:href="@{/css/admin/select2.css}" rel="stylesheet" />
<!-- header 
   ================================================== -->
   <link rel="icon" type="image/png" href="../static/csc.png" th:href="@{/csc.png}" /> 
   
<!-- Angular Ui Switch -->
 <link href="../static/libs/angular-ui-switch/css/angular-ui-switch.min.css"
	th:href="@{/libs/angular-ui-switch/css/angular-ui-switch.min.css}" rel="stylesheet" />
		
</head>
<body id="top">


	<!-- <div my-home></div> -->
	<!--  <div ng-view=""></div>  -->

	<div sec:authorize="hasRole('ADMIN')">
		<db-main-admin></db-main-admin>
	<!-- 	<db-admin></db-admin> -->
	</div>

	<div sec:authorize="hasRole('MEMBER')">
		<db-customer></db-customer>
	</div>


</body>

<!-- script
   ================================================== -->
<!--js -->
<script src="../static/js/lib/jquery/jquery.nicescroll.js"
	th:src="@{/js/lib/jquery/jquery.nicescroll.js}"></script>
<script src="../static/js/admin/scripts.js" th:src="@{/js/admin/scripts.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../static/js/lib/bootstrap.min.js"
	th:src="@{/js/lib/bootstrap.min.js}"></script>
<!-- /Bootstrap Core JavaScript -->
<script src="../static/js/admin/select2.js" th:src="@{/js/admin/select2.js}"></script>
<script src="../static/js/admin/vi.js" th:src="@{/js/admin/vi.js}"></script>

<script src="../static/js/lib/angular-1.4.9/angular.js"
	th:src="@{/js/lib/angular-1.4.9/angular.js}"></script>
<script src="../static/js/lib/angular-1.4.9/angular-resource.js"
	th:src="@{/js/lib/angular-1.4.9/angular-resource.js}"></script>
<script src="../static/js/lib/angular-1.4.9/angular-route.js"
	th:src="@{/js/lib/angular-1.4.9/angular-route.js}"></script>
<script src="../static/js/lib/angular-1.4.9/angular-messages.js" th:src="@{/js/lib/angular-1.4.9/angular-messages.js}"></script>
<!-- <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script> -->
	<script src="../static/js/lib/ngSweetAlert/sweet-alert.js" th:src="@{/js/lib/ngSweetAlert/sweet-alert.js}"></script>
 	<script src="../static/js/lib/ngSweetAlert/SweetAlert.js" th:src="@{/js/lib/ngSweetAlert/SweetAlert.js}"></script>
<script
	src="../static/js/lib/spring-security-csrf-token-interceptor/spring-security-csrf-token-interceptor.min.js"
	th:src="@{/js/lib/spring-security-csrf-token-interceptor/spring-security-csrf-token-interceptor.min.js}"></script>
	
 <script src="../static/js/lib/ui-bootstrap-tpls-2.5.0.min.js"
	th:src="@{/js/lib/ui-bootstrap-tpls-2.5.0.min.js}"></script>
		
<script src="../static/js/dbApp.js" th:src="@{/js/dbApp.js}"></script>
<!-- <script src="../static/js/admin/adminApp.js" th:src="@{/js/admin/adminApp.js}"></script> -->
<!-- <script src="../static/js/controller/linkController.js" th:src="@{/js/controller/linkController.js}"></script> 
	<script src="../static/js/controller/mainController.js" th:src="@{/js/controller/mainController.js}"></script> 
	 -->
<!-- <script src="../static/js/controller/userController.js" th:src="@{/js/controller/userController.js}"></script> 
 -->
<!-- <script src="../static/js/controller/usersController.js" th:src="@{/js/controller/usersController.js}"></script> 
	<script src="../static/js/service/loginService.js" th:src="@{/js/service/loginService.js}"></script> 
	 
	<script src="../static/js/service/registerService.js" th:src="@{/js/service/registerService.js}"></script> 
	-->
	<script src="../static/js/controller/userController.js"
	th:src="@{/js/controller/userController.js}"></script>
	<script src="../static/js/service/userService.js"
	th:src="@{/js/service/userService.js}"></script>

	<script src="../static/js/controller/dashboardController.js"
	th:src="@{/js/controller/dashboardController.js}"></script>
	<script src="../static/js/directive/directive.js"
	th:src="@{/js/directive/directive.js}"></script>


	<script src="../static/js/controller/customerController.js"
	th:src="@{/js/controller/customerController.js}"></script>
	
	<script src="../static/js/controller/reportController.js"
	th:src="@{/js/controller/reportController.js}"></script>
	
	<script src="../static/js/controller/invoiceController.js"
	th:src="@{/js/controller/invoiceController.js}"></script>
	
	<script src="../static/js/service/invoiceService.js"
	th:src="@{/js/service/invoiceService.js}"></script>

	<script src="../static/js/controller/chartController.js"
	th:src="@{/js/controller/chartController.js}"></script>

	
	<script src="../static/js/service/typeInvoiceService.js"
	th:src="@{/js/service/typeInvoiceService.js}"></script>
	
	<script src="../static/js/service/customerService.js"
	th:src="@{/js/service/customerService.js}"></script>

	<script src="../static/js/controller/reportController.js"
	th:src="@{/js/controller/reportController.js}"></script>
	
	<script src="../static/js/service/reportService.js"
	th:src="@{/js/service/reportService.js}"></script>
	
	<script src="../static/js/service/parameterService.js"
	th:src="@{/js/service/parameterService.js}"></script>
	  
  <script src="../static/js/chart/zingchart-angularjs.js" th:src="@{/js/chart/zingchart-angularjs.js}"></script>
<script src="../static/js/chart/zingchart.min.js" th:src="@{/js/chart/zingchart.min.js}"></script>
<!-- <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script> -->


<!-- favicons
	================================================== -->
<!-- <link rel="icon" type="image/png" href="/EInvoice/favicon.png" /> -->

<!-- Angular Ui Switch -->
<script src="../static/libs/angular-ui-switch/js/angular-ui-switch.min.js"
	th:src="@{/libs/angular-ui-switch/js/angular-ui-switch.min.js}"></script>
	
<!-- Angular Pagination -->
<script src="../static/libs/pagination/js/paging.min.js"
	th:src="@{/libs/pagination/js/paging.min.js}"></script>
	

</html>

